<h1>Welcome to the Url shortener</h1>
 <%= erb :_form, layout: false %>
<h3>Existing Urls</h3>
<table>
  <thead>
    <th>Original</th>
    <th>Shortened</th>
  </thead>
  <tbody>
  <% @urls.each do |url| %>
    <tr>
      <td><%= url.original %></td>
      <td><a href="http://localhost:9393/<%=url.shortened_url%>">http://localhost:9393/<%=url.shortened_url%></a></td>
    </tr>
  <% end %>
  </tbody>
</table>

